<form [formGroup]="formVisita">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre</label>
    <input type="email" class="form-control" id="exampleInputEmail1" formControlName="visitanteNombre" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Apellido</label>
    <input type="text" class="form-control"  formControlName="visitanteApellido" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <label for="exampleInputPassword1" class="form-label">Fecha</label>
    <input type="date" class="form-control" formControlName="visitantefecha" id="exampleCheck1">
  </div>
  <button type="submit" class="btn btn-primary" *ngIf="visitanteID == 0 "  (click)="setAddVisitante()" data-bs-dismiss="modal">Agregar</button>
  <button type="submit" class="btn btn-primary" *ngIf="visitanteID > 0"  (click)="setUpdateVisitante()" data-bs-dismiss="modal">Actualizar</button>
</form>
