
<section class="container">


  <div class="addbutton">
    <button type="button" class="btn btn-primary m-5" data-bs-toggle="modal" data-bs-target="#exampleModal" >Agregar Visitante</button>
  </div>


<div class="row">
  <div class="col-xs-5 mb-3">
    <form [formGroup]="ListaForm" >
      <input type="text" class="form-control"  name="Buscar" placeholder="Nombre" formControlName="NombreVisitante">
      <button class="bt btn-info" (click)="BuscarVisitante()"><i class="fa fa-search" aria-hidden="true"></i></button>
      <button class="btn btn-outline-primary" (click)="ActualizarCampo()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
    </form>

  </div>
</div>



  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
      </tr>
    </thead>
    <tbody>
<div *ngIf="loading" class="loading" >
  <div class="lds-hourglass"></div>
</div>

      <tr *ngFor="let v of Visitante  | paginate: {itemsPerPage: _visitaService.filtroVisitante.PageSize, currentPage: indice, totalItems: cantidadRegistro }">
        <th scope="row">{{ v.visitanteId }} </th>
        <td>{{ v.visitaNombre }}</td>
        <td>{{ v.visitaApellido }}</td>
        <td>{{ v.registroFecha | date }}</td>
        <td>{{ v.registroFecha | date: "shortTime" }}</td>
        <td>
          <span (click)="VisitanteEdita(v.visitanteId)">
          <i class="fa fa-pencil" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
        </span></td>
        <td><i class="fa fa-trash" aria-hidden="true"></i></td>
      </tr>
    </tbody>
  </table>

  <div class="my-pagination mr-5" *ngIf="Visitante.length > 0">
    <pagination-controls (pageChange)="indice = $event;
    BuscarVisitante()"
    previousLabel="Anterior"
    nextLabel="Siguiente">
  </pagination-controls>
  </div>

</section>


<div class="modal" id="exampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar Visitante</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-AddVisitante ></app-AddVisitante>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
